<a href="https://colab.research.google.com/github/Noxybot/tt_21/blob/master/hw2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [253]:
import pandas as pd
import random
import os
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.layers import *
import tensorflow as tf
from tensorflow.keras import *
#from sklearn.model_selection import train_test_split

SEED = 228

tf.random.set_seed(0)
random.seed(0)
np.random.seed(0)
os.environ['TF_DETERMINISTIC_OPS'] = '1'

GEO_CLUSTERS = 300
COMPANY_UNITS = 10
ACTIVATION_FUN = "relu"

In [246]:
train_data = pd.read_csv("train.csv")
train_data = train_data.drop(train_data.columns[0], axis=1)

vc = train_data["company"].value_counts()
to_remove = vc[vc <= 10].index

train_data.loc[train_data.company.isin(to_remove), "company"] = -1

test_data = pd.read_csv("test.csv")
test_data = test_data.drop(test_data.columns[0], axis=1)
test_data.loc[test_data.company.isin(to_remove), "company"] = -1
test_data.loc[~test_data.company.isin(train_data.company), "company"] = -1
test_data

        latitude  longitude  company  ...        fin_3          fin_4  target
0      39.284310 -76.735350       -1  ...   270.906219   31222.780176       0
1      36.758509 -76.344861    11208  ...   759.194862  237587.544996       1
2      43.402802 -75.217100       -1  ...  1039.655934   29612.346982       0
3      41.871160 -87.848570       -1  ...   214.594205  163526.475818       1
4      42.161296 -88.129184    11515  ...   379.819724   67499.397999       1
...          ...        ...      ...  ...          ...            ...     ...
39995  35.241600 -80.983740       -1  ...    95.701485   37584.380280       1
39996  35.241730 -80.983750    11849  ...   653.516413  189604.463353       0
39997  35.290596 -80.756953     3987  ...   863.135873   26231.880089       0
39998  35.204460 -80.720190    12287  ...   363.861756  116288.412218       1
39999  35.222470 -80.847460        7  ...   394.187736   18465.764838       1

[40000 rows x 10 columns]

In [247]:
def preprocess (dataframe, geo_label, company_label):
  dataframe['geo_cluster_label'] = geo_label.predict(dataframe[dataframe.columns[0:2]])
  dataframe = dataframe.drop('latitude', axis=1)
  dataframe = dataframe.drop('longitude', axis=1)
  first_X = pd.concat([dataframe["is_local"], dataframe.iloc[:, 3:7]], axis=1).to_numpy()
  second_X = company_label.transform(dataframe["company"].to_numpy())
  third_X = dataframe["type"].to_numpy()
  fourth_X = dataframe["geo_cluster_label"].to_numpy()

  out_Y = dataframe["target"].to_numpy()
  return first_X, second_X, third_X, fourth_X, out_Y

In [248]:
kmeans = KMeans(n_clusters = GEO_CLUSTERS, init ='k-means++')
le = LabelEncoder()

kmeans.fit(train_data[train_data.columns[0:2]])
le.fit(train_data["company"].to_numpy())

first_X_train, second_X_train, third_X_train, fourth_X_train, out_Y_train = preprocess(train_data, kmeans, le)
first_X_test, second_X_test, third_X_test, fourth_X_test, out_Y_test = preprocess(test_data, kmeans, le)

In [255]:
input_first_branch = Input(shape=(5, ), name="first")
first = Dense(32, activation=ACTIVATION_FUN)(input_first_branch)
first = BatchNormalization()(first)
first = Dense(32, activation=ACTIVATION_FUN)(first)
first = BatchNormalization()(first)
first = Model(inputs=input_first_branch, outputs=first)

input_second_branch = Input(shape=(1,), name="second")
second = Embedding(second_X_train.max() + 1, output_dim=128)(input_second_branch)
second = Flatten()(second)
second = Dense(32, activation=ACTIVATION_FUN)(second)
second = Model(inputs=input_second_branch, outputs=second)

input_third_branch = Input(shape=(1,), name="third")
third = Embedding(third_X_train.max() + 1, output_dim=16)(input_third_branch)
third = Flatten()(third)
third = Dense(16, activation=ACTIVATION_FUN)(third)
third = Model(inputs=input_third_branch, outputs=third)


input_fourth_branch = Input(shape=(1,), name="fourth")
fourth = Embedding(fourth_X_train.max() + 1, output_dim=128)(input_fourth_branch)
fourth = Flatten()(fourth)
fourth = Dense(32, activation=ACTIVATION_FUN)(fourth)
fourth = Model(inputs=input_fourth_branch, outputs=fourth)

concat = Concatenate()([first.output, second.output, third.output, fourth.output])

concat = Dense(64, activation=ACTIVATION_FUN)(concat)
concat = BatchNormalization()(concat)
concat = Dense(64, activation=ACTIVATION_FUN)(concat)
concat = BatchNormalization()(concat)
output = Dense(1, name="output", activation=ACTIVATION_FUN)(concat)

my_model = Model(inputs=[first.input, second.input, third.input, fourth.input], outputs=output)
my_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
my_model.fit(epochs=10, batch_size=128, validation_split=0.1, x={"first": first_X_train, "second": second_X_train, "third": third_X_train, "fourth": fourth_X_train }, y=out_Y_train)

Epoch 1/10
1125/1125 [==============================] - 10s 8ms/step - loss: 2.7076 - accuracy: 0.7427 - val_loss: 1.1121 - val_accuracy: 0.7333
Epoch 2/10
1125/1125 [==============================] - 8s 7ms/step - loss: 1.1222 - accuracy: 0.7225 - val_loss: 1.0670 - val_accuracy: 0.6695
Epoch 3/10
1125/1125 [==============================] - 8s 7ms/step - loss: 0.8484 - accuracy: 0.7410 - val_loss: 0.6007 - val_accuracy: 0.7593
Epoch 4/10
1125/1125 [==============================] - 8s 7ms/step - loss: 1.0818 - accuracy: 0.7295 - val_loss: 0.5600 - val_accuracy: 0.7605
Epoch 5/10
1125/1125 [==============================] - 8s 7ms/step - loss: 0.6009 - accuracy: 0.7552 - val_loss: 0.5509 - val_accuracy: 0.7476
Epoch 6/10
1125/1125 [==============================] - 8s 7ms/step - loss: 0.5889 - accuracy: 0.7595 - val_loss: 0.6810 - val_accuracy: 0.7470
Epoch 7/10
1125/1125 [==============================] - 8s 7ms/step - loss: 0.7128 - accuracy: 0.7476 - val_loss: 0.5662 - val_accuracy: 0.7575
Epoch 8/10
1125/1125 [==============================] - 8s 7ms/step - loss: 0.5925 - accuracy: 0.7576 - val_loss: 0.6621 - val_accuracy: 0.7351
Epoch 9/10
1125/1125 [==============================] - 8s 7ms/step - loss: 0.5660 - accuracy: 0.7643 - val_loss: 0.5449 - val_accuracy: 0.7628
Epoch 10/10
1125/1125 [==============================] - 8s 7ms/step - loss: 0.6014 - accuracy: 0.7619 - val_loss: 0.5619 - val_accuracy: 0.7412

In [256]:
my_model.summary()

Model: "model_209"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 first (InputLayer)             [(None, 5)]          0           []

 dense_287 (Dense)              (None, 32)           192         ['first[0][0]']

 second (InputLayer)            [(None, 1)]          0           []

 third (InputLayer)             [(None, 1)]          0           []

 fourth (InputLayer)            [(None, 1)]          0           []

 batch_normalization_164 (Batch  (None, 32)          128         ['dense_287[0][0]']
 Normalization)

 embedding_123 (Embedding)      (None, 1, 128)       177280      ['second[0][0]']

 embedding_124 (Embedding)      (None, 1, 16)        80          ['third[0][0]']

 embedding_125 (Embedding)      (None, 1, 128)       38400       ['fourth[0][0]']

 dense_288 (Dense)              (None, 32)           1056        ['batch_normalization_164[0][0]']

 flatten_123 (Flatten)          (None, 128)          0           ['embedding_123[0][0]']

 flatten_124 (Flatten)          (None, 16)           0           ['embedding_124[0][0]']

 flatten_125 (Flatten)          (None, 128)          0           ['embedding_125[0][0]']

 batch_normalization_165 (Batch  (None, 32)          128         ['dense_288[0][0]']
 Normalization)

 dense_289 (Dense)              (None, 32)           4128        ['flatten_123[0][0]']

 dense_290 (Dense)              (None, 16)           272         ['flatten_124[0][0]']

 dense_291 (Dense)              (None, 32)           4128        ['flatten_125[0][0]']

 concatenate_41 (Concatenate)   (None, 112)          0           ['batch_normalization_165[0][0]',
                                                                  'dense_289[0][0]',
                                                                  'dense_290[0][0]',
                                                                  'dense_291[0][0]']

 dense_292 (Dense)              (None, 64)           7232        ['concatenate_41[0][0]']

 batch_normalization_166 (Batch  (None, 64)          256         ['dense_292[0][0]']
 Normalization)

 dense_293 (Dense)              (None, 64)           4160        ['batch_normalization_166[0][0]']

 batch_normalization_167 (Batch  (None, 64)          256         ['dense_293[0][0]']
 Normalization)

 output (Dense)                 (None, 1)            65          ['batch_normalization_167[0][0]']

==================================================================================================
Total params: 237,761
Trainable params: 237,377
Non-trainable params: 384
__________________________________________________________________________________________________

In [257]:
my_model.evaluate(x={"first": first_X_test, "second": second_X_test, "third": third_X_test, "fourth": fourth_X_test }, y=out_Y_test)

1250/1250 [==============================] - 4s 3ms/step - loss: 0.5781 - accuracy: 0.7339

[0.5780544877052307, 0.7339000105857849]